 body {
     font-size: 100%;
     font-family: 'lucida grande', arial, tahoma, sans-serif;
}
 #container {
     margin: auto;
     padding-top:20px;
     padding-left:20px;
     padding-right:20px;
     padding-bottom:20px;
     position: relative;
}
 #header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 25vw;
     background: url("../images/headtitle.png") center no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
     border-radius: 50px;
     margin-bottom: 30px;
     position: relative;
}
 #header .headtitle {
     position: relative;
     display: block;
     height: 100%;
     margin-top: 15vw;
     font-family: 'lucida grande';
     font-size: 8.5vw;
     color: black;
     text-align: center;
}
 #header .headtitle a {
     height: 100%;
     font-size: 8.5vw;
     color: black;
     font-family: 'lucida grande';
}
 #menu {
     height: 2vw;
     padding: 18px 18px;
     text-align: center;
     background-color: rgb(77, 77, 77,0.4);
     border-radius: 15px;
}
 #menu ul {
     margin: auto;
     text-align: center;
     height: auto;
     padding-inline-start: 0;
}
 #menu ul li {
     list-style: none;
     display: inline;
}
 #menu ul li a:link, #menu ul li a:active, #menu ul li a:visited {
     color: black;
     padding: 10px 7px 10px 7px;
     font-size: 1.395vw;
     font-family: 'lucida grande', arial, sans-serif;
     font-weight: bold;
     text-decoration: none;
}
 #menu ul li a:hover {
     color: white;
}
 #content {
     min-height: 100%;
     width: 100%;
     margin: 0 auto;
}
 .hid {
     text-decoration: none;
     color: black;
}
 #insidecontent {
     padding-left: 25px;
     padding-right: 25px;
}
 #insidecontent ul {
     font-size: 1em;
     font-weight: bold;
}
 #insidecontent ol {
     font-size: 1em;
     font-weight: bold;
}
 .txt {
     display: inline-block;
     position: relative;
     color: black;
     font-family: tahoma;
     font-size: 1.9vw;
     line-height: 170%;
     padding-top: 30px;
}
 .txt1 {
     margin: 0;
     color: black;
     font-family: tahoma;
     font-size: 1.9vw;
     line-height: 170%;
     padding-top: auto;
}
 .rimg {
     float: right;
     margin: 10px 0 10px 10px;
     padding: 50px;
}
 .limg {
     float: left;
     margin: 10px 10px 10px 0;
     padding: 50px;
}
 .button {
     color: white;
     background-color: rgb(77, 77, 77,0.7);
     border: none;
     display: block;
     padding: 1.7vw;
     margin-top: 1vw;
     text-align: center;
     text-decoration: none;
     font-size: 2vw;
     border-radius: 15%;
     width: auto;
}
 .rr {
     margin-left:40vw;
     margin-right: 0;
     height: auto;
     text-decoration: none;
}
 .ll 
 {
     margin-right:40vw;
     margin-left: 0;
     height: auto;
     text-decoration: none;
 }
 .imagefit {
     display: block;
     width: 30%;
     border-radius: 100%;
}
 .bg_video {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     position: cover;
     z-index: -1;
}
 .imgcenter {
     display: block;
     margin: 0 auto;
     border-radius: 10px;
     padding-top: 50px;
     padding-bottom: 50px;
}
 h1 {
     margin: 0;
     text-align: center;
     font-weight: bold;
     color: black;
     font-size: 3.5vw;
     padding-top: 70px;
     font-family: Tahoma;
}
 h2 {
     margin: 0;
     display: inline;
     position: relative;
     top: -1.5em;
     left: 2em;
     font-size: 1.8em;
     font-weight: normal;
     color: #94c258;
}
 h3 {
     margin: 0;
     font-size: 1.5em;
     font-weight: normal;
     color: #94C258;
}
 .cc {
     margin: auto;
     width: 20vw;
     padding: 1vw;
     font-size: 1.5em;
     margin-top: 150px;
}
 table {
     width: 500px;
     margin: auto;
     border: 2px solid #000;
     font-size: 1.5em;
}
 td, th{
     padding: 10px;
     border: 2px solid #000;
}
 th {
     text-align: left;
     border: 1px solid #000;
}
 .bottom-line {
     margin-top: 5vh;
     border-top: 3px solid #000;
     font-style: italic;
     font-size: 1.5vw;
     font-family: Tahoma;
}
 .bottom-line a {
     color: black;
}
 